@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Rubik+Dirt&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Rubik Dirt', cursive;
  --secondary-font: 'Noto Sans', sans-serif;
}

body {
  background-color: darksalmon;
  overflow-x: hidden;
}

ul,
.list {
  list-style-type: none;
}
/* Add Book Btn */
.addBook {
  display: flex;
  position: relative;
  left: 5%;
  bottom: 4rem;
  height: 3rem;
}
.addBook button {
  font-family: var(--secondary-font);
  font-weight: 900;
  width: 8rem;
  background-color: dodgerblue;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.addBook button:hover {
  border: 2px solid black;
  transform: scale(1.1);
  transition: transform 0.2s linear;
  color: white;
}
/* Navbar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 30px 3px;
  height: 5rem;
}
.nav li {
  font-size: 3rem;
  font-family: var(--primary-font);
}
/* Books */
.list {
  border: 1px solid black;
  margin: 20px;
  height: 15rem;
  width: 25rem;
  background-color: wheat;
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 10px;
  align-items: center;
  animation: opacity 0.5s linear;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 20rem 0 20rem;
  width: 100vh;
}
.book-info {
  color: darkviolet;
}
.name {
  font-family: var(--primary-font);
  font-size: 40px;
}
.wrap {
  display: flex;
  justify-content: center;
}

/* Form */
.wrap-2 {
  display: none;

  justify-content: center;
  margin-top: 8rem;
  animation: opacity 1s linear;
  position: relative;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.container-form {
  position: relative;
  background-color: lightslategrey;
  box-shadow: 0 0 20px 2px;
  border-radius: 1rem;
  width: 25rem;
}
.form {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-item {
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.read-status {
  font-size: 30px;
}
#read-status {
  cursor: pointer;
}
#submit {
  cursor: pointer;
}
#submit:hover {
  transition: 0.3s all linear;
  background-color: lightblue;
}
